@model EmployeeAccessSystem.Models.AccessControlRoleModel

<div class="modal-header bg-white">

    <h5 class="modal-title">
        <i class="fas fa-plus mr-1"></i>
        Add Role
    </h5>

</div>

<form asp-action="CreateRole" asp-controller="AccessControl" method="post">

    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-group mb-0">

            <label>Role Name</label>

            <input asp-for="RoleName"
                   class="form-control form-control-sm"
                   placeholder="Enter role name"
                   required />

        </div>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            Back
        </button>

        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-save mr-1"></i>
            Save
        </button>

    </div>

</form>