@model EmployeeAccessSystem.Models.AccessControlDashboardModel

@{
    ViewData["Title"] = "Access Control";
}

<section class="content pt-2 pb-0">

    <div class="container-fluid px-0">

        @* Header *@
        <div class="row mb-2 mx-0 align-items-center">

            <div class="col-sm-6 px-0">
                <h3 class="mb-0">Access Control</h3>
            </div>

            <div class="col-sm-6 text-right px-0">

                <a href="/AccessControl/Users" class="btn btn-primary btn-sm">
                    <i class="fas fa-user-plus mr-1"></i>
                    Add User
                </a>

            </div>

        </div>

        @* Dashboard Cards *@
        <div class="row">

            @* Manage Users *@
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

                <div class="small-box bg-info">

                    <div class="inner">
                        <h3>@Model.TotalUsers</h3>
                        <p>Users</p>
                    </div>

                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>

                    <a href="/AccessControl/Users" class="small-box-footer">
                        Manage Users
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>

                </div>

            </div>

            @* Manage Roles *@
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

                <div class="small-box bg-success">

                    <div class="inner">
                        <h3>@Model.TotalRoles</h3>
                        <p>Roles</p>
                    </div>

                    <div class="icon">
                        <i class="fas fa-user-shield"></i>
                    </div>

                    <a href="/AccessControl/Roles" class="small-box-footer">
                        Manage Roles
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>

                </div>

            </div>

            @* Manage Menus / Permission Master *@
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

                <div class="small-box bg-primary">

                    <div class="inner">
                        <h3>@Model.TotalMenus</h3>
                        <p>Menus / Permissions</p>
                    </div>

                    <div class="icon">
                        <i class="fas fa-list"></i>
                    </div>

                    <a href="/AccessControl/Menus" class="small-box-footer">
                        Manage Menus
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

@section Scripts {
    <script src="~/js/AccessControl/index.js" asp-append-version="true"></script>
}