@model EmployeeAccessSystem.Models.ProductConfiguration

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title font-weight-bold">
        Edit Node
    </h5>

    <button type="button"
            class="close"
            data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>

<form asp-action="EditNode"
      method="post"
      id="editNodeForm">

    @Html.AntiForgeryToken()

    <div class="modal-body">

        <input type="hidden" asp-for="NodeId" />
        <input type="hidden" asp-for="ProductId" />

        <div class="form-group">
            <label>Node Name</label>
            <input asp-for="NodeName"
                   class="form-control" />
        </div>

        <div class="form-group">
            <label>Node Type</label>
           

        <div class="form-group">
            <label>Input Type</label>
            <select asp-for="InputType"
                    class="form-control">
                <option value="None">None</option>
                <option value="Checkbox">Checkbox</option>
                <option value="Percentage">Percentage</option>
                <option value="Text">Text</option>
            </select>
        </div>

    </div>

    <div class="modal-footer">

        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
            Cancel
        </button>

        <button type="submit"
                class="btn btn-warning">
            Update
        </button>

    </div>

</form>